force-app/main/default/flows/Dreamforce_Demo_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initiate_Price_Match</name>
        <label>Initiate Price Match</label>
        <locationX>1469</locationX>
        <locationY>320</locationY>
        <actionName>performPriceMatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AwesomeSauce</targetReference>
        </connector>
        <inputParameters>
            <name>adjustmentRecordIDs</name>
            <value>
                <elementReference>AdjustmentRecordID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PriceMatchOutcome</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Verify_Authenticity</name>
        <label>Verify Authenticity</label>
        <locationX>1276</locationX>
        <locationY>506</locationY>
        <actionName>checkPriceMatch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Split_on_Authenticity</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>TransactionIsAuthentic</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Stub1</name>
        <label>Stub:Order Status</label>
        <locationX>78</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stub2</name>
        <label>Stub:Change Order</label>
        <locationX>158</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stub_Account_Profile_Settings</name>
        <label>Stub: Account Profile Settings</label>
        <locationX>419</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stub_df</name>
        <label>Stub: Payment Methods</label>
        <locationX>715</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>44</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stub_Fraud_Check_Failed</name>
        <label>Stub: Fraud Check Failed</label>
        <locationX>1301</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>StubNotifPrefs</name>
        <label>Stub:Notification Preferences</label>
        <locationX>587</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>StubVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Merchant1</name>
        <choiceText>Pizza Palace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pizza Palace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Merchant2</name>
        <choiceText>Pies R Us</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pies R Us</stringValue>
        </value>
    </choices>
    <choices>
        <name>Merchant3</name>
        <choiceText>Best Pie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Best Pie</stringValue>
        </value>
    </choices>
    <choices>
        <name>Merchant4</name>
        <choiceText>Pizza my XBox One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pizza my XBox One</stringValue>
        </value>
    </choices>
    <constants>
        <name>selectCustomerLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select a customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>SelectOrderLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select an order</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_Split_on_Authenticity</name>
        <label>Decision Split on Authenticity</label>
        <locationX>1462</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Stub_Fraud_Check_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fraudulence Check Failed</defaultConnectorLabel>
        <rules>
            <name>Fraudulence_Check_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Authenticity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Passed_Fraud_Check_Screen</targetReference>
            </connector>
            <label>Fraudulence Check Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_the_Process</name>
        <label>Route the Process</label>
        <locationX>450</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Stub_df</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Methods</defaultConnectorLabel>
        <rules>
            <name>Order_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoosePath.selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stub1</targetReference>
            </connector>
            <label>Order Status</label>
        </rules>
        <rules>
            <name>Price_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoosePath.selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Match</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Customer_s_Orders</targetReference>
            </connector>
            <label>Price Match</label>
        </rules>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoosePath.selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stub2</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
        <rules>
            <name>Account_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoosePath.selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Profile Settings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stub_Account_Profile_Settings</targetReference>
            </connector>
            <label>Account Profile Settings</label>
        </rules>
        <rules>
            <name>Notification_Preferences</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoosePath.selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification Preferences</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StubNotifPrefs</targetReference>
            </connector>
            <label>Notification Preferences</label>
        </rules>
    </decisions>
    <interviewLabel>Price Protection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dreamforce Demo Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Price_Adjustment_Request</name>
        <label>Create Price Adjustment Request</label>
        <locationX>1080</locationX>
        <locationY>86</locationY>
        <assignRecordIdToReference>AdjustmentRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Item__c</field>
            <value>
                <elementReference>Get_Item_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Price__c</field>
            <value>
                <elementReference>Get_Item_Details.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Please_confirm</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Item_Price_Adjustment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Customer_s_Orders</name>
        <label>Fetch Customer&#39;s Orders</label>
        <locationX>733</locationX>
        <locationY>78</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_an_order</targetReference>
        </connector>
        <filters>
            <field>Simple_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Simple_Sales_Order__c</object>
        <outputReference>CustomerOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Simple_Customer__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Order_Items</name>
        <label>Fetch Order Items</label>
        <locationX>901</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>beebe</targetReference>
        </connector>
        <filters>
            <field>Simple_Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderPicker.value</elementReference>
            </value>
        </filters>
        <object>Order_Item__c</object>
        <outputReference>OrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Item_Details</name>
        <label>Get Item Details</label>
        <locationX>1080</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Price_Adjustment_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectAnItemToPricematch.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Info_to_Price_Adjustment</name>
        <label>Add Info to Price Adjustment</label>
        <locationX>1276</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Verify_Authenticity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdjustmentRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_Price__c</field>
            <value>
                <elementReference>Please_enter_the_competing_price_amount</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Item_Price_Adjustment__c</object>
    </recordUpdates>
    <screens>
        <name>Additional_Information</name>
        <label>Optional: Solicit Additional Info</label>
        <locationX>1276</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Info_to_Price_Adjustment</targetReference>
        </connector>
        <fields>
            <name>CurrentPriceBlurby</name>
            <fieldText>&lt;p&gt;The current price for &lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Item_Details.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;({!Get_Item_Details.Quantity__c} in order) is &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;${!Get_Item_Details.Price__c}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_enter_the_competing_price_amount</name>
            <dataType>Number</dataType>
            <fieldText>Please enter the competing price amount.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AdditionalInfoBlurb</name>
            <fieldText>&lt;p&gt;Please attach any supporting information (e.g. screenshots) at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AdditionalFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload a screenshot of the price match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AdjustmentRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .jpg</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AwesomeSauce</name>
        <label>Confirmation Screen</label>
        <locationX>1469</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>congratsBlurb</name>
            <fieldText>&lt;p&gt;Congratulations, the price adjustment was approved for instant reimbursement &amp;amp; credit has been debited to the payee&#39;s account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>feelsGood</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://i.kym-cdn.com/entries/icons/original/000/006/077/so_good.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>beebe</name>
        <label>Select an Item</label>
        <locationX>901</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Item_Details</targetReference>
        </connector>
        <fields>
            <name>selectAnItemToPricematch</name>
            <extensionName>c:pricePicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>OrderItems</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_a_Process</name>
        <label>Choose a Process</label>
        <locationX>458</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Route_the_Process</targetReference>
        </connector>
        <fields>
            <name>ChoosePath</name>
            <extensionName>c:textPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>option1</name>
                <value>
                    <stringValue>Order Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option2</name>
                <value>
                    <stringValue>Price Match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option3</name>
                <value>
                    <stringValue>Change Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option4</name>
                <value>
                    <stringValue>Account Profile Settings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option5</name>
                <value>
                    <stringValue>Notification Preferences</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option6</name>
                <value>
                    <stringValue>Payment Methods</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_a_Customer</name>
        <label>Find a Customer</label>
        <locationX>241</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LookupCustomer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>selectCustomerLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Simple_Customer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Simple_Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Price_Match_Details</name>
        <label>Get Price Match Details</label>
        <locationX>1080</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Blurb</name>
            <fieldText>&lt;p&gt;The current price for &lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Item_Details.Name}&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;({!Get_Item_Details.Quantity__c} in order) is &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;${!Get_Item_Details.Price__c}&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_confirm</name>
            <choiceReferences>Merchant1</choiceReferences>
            <choiceReferences>Merchant2</choiceReferences>
            <choiceReferences>Merchant3</choiceReferences>
            <choiceReferences>Merchant4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm the price match is being performed against one of the permitted merchants.  We do not honor price matches against merchants not in this list.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Passed_Fraud_Check_Screen</name>
        <label>Passed Fraud Check Screen</label>
        <locationX>1680</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initiate_Price_Match</targetReference>
        </connector>
        <fields>
            <name>Blurb1</name>
            <fieldText>&lt;p&gt;The price adjustment has passed fraud check validation.  We will now check if the adjustment qualifies for instant reimbursement.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_an_order</name>
        <label>Select an Order</label>
        <locationX>901</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Order_Items</targetReference>
        </connector>
        <fields>
            <name>orderPicker</name>
            <extensionName>c:orderPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an order.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>CustomerOrders</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_a_Process</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdjustmentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Simple_Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Item__c</objectType>
    </variables>
    <variables>
        <name>PriceAdjustment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Item_Price_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>PriceMatchOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StubVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>TransactionIsAuthentic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
