force-app/main/default/flows/John_Hancock_Claim_Initiation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Stage_Authorized_Persons</name>
        <label>Stage - Authorized Persons</label>
        <locationX>1214</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authorized_Persons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Authorized_Persons_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Claim_Information</name>
        <label>Stage - Claim Information</label>
        <locationX>527</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Complete_and_Sign</name>
        <label>Stage - Complete and Sign</label>
        <locationX>1464</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete_and_Sign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_and_Sign_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Insured_Information</name>
        <label>Stage - Insured Information</label>
        <locationX>283</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insured_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insured_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Medical_and_Care_Providers</name>
        <label>Stage - Medical and Care Providers</label>
        <locationX>741</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medical_and_Care_Providers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medical_and_Care_Providers_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_W_9_Information</name>
        <label>Stage - W-9 Information</label>
        <locationX>963</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>W_9_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>W_9_Information_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c01</name>
        <choiceText>Currently receiving care / needs assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c02</name>
        <choiceText>Recovered, received care prior to recovery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c03</name>
        <choiceText>Deceased, received care prior to death</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c04</name>
        <choiceText>Trailblazing!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c05</name>
        <choiceText>Just realized we might be eligible</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c06</name>
        <choiceText>Receiving / received care from family but needs more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c07</name>
        <choiceText>Receiving / received care from family but caregiver cannot continue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c08</name>
        <choiceText>Receiving / received formal care but was just getting around to filing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c09</name>
        <choiceText>Receiving / received formal care but was trying to reserve the policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c10</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c11</name>
        <choiceText>Bathing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c12</name>
        <choiceText>Dressing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c13</name>
        <choiceText>Eating</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c14</name>
        <choiceText>Toileting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c15</name>
        <choiceText>Maintaining Continence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c16</name>
        <choiceText>Tranferring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c17</name>
        <choiceText>Indoor Mobility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>c18</name>
        <choiceText>Outdoor Mobility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Individual</name>
        <choiceText>Individual/sole proprietor or single-member LLC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>US_Choice</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <interviewLabel>John Hancock Claim Initiation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>John Hancock Claim Initiation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Authorized_Persons_Screen</name>
        <label>Authorized Persons Screen</label>
        <locationX>1323</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Complete_and_Sign</targetReference>
        </connector>
        <fields>
            <name>jh006</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizedPersonsStage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>auth_person_text</name>
            <fieldText>&lt;p&gt;Authorize individuals to communicate with John Hancock to discuss benefits and details of your claim, such as your spouse, children, and/or another family member or friend. This step of the process is optional.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Authorized_Persons</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Authorized Persons</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Claim_Information_Screen</name>
        <label>Claim Information Screen</label>
        <locationX>634</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Medical_and_Care_Providers</targetReference>
        </connector>
        <fields>
            <name>jh003</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimInfoStage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>claimInfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You indicated that, based on your opinion, the insured needs assistance with at least one of the Activities of Daily Living (ADLs).&amp;nbsp;Please provide more detail to help ensure that we request the proper documentation in order to determine eligibility.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_stand_by</name>
            <choiceReferences>c11</choiceReferences>
            <choiceReferences>c12</choiceReferences>
            <choiceReferences>c13</choiceReferences>
            <choiceReferences>c14</choiceReferences>
            <choiceReferences>c15</choiceReferences>
            <choiceReferences>c16</choiceReferences>
            <choiceReferences>c17</choiceReferences>
            <choiceReferences>c18</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is stand-by assistance and/or hands-on assistance from another person needed for:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_the_insured_need_verbal_cueing_for_the_Activities_of_Daily_Living_ADLs</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the insured need verbal cueing for the Activities of Daily Living (ADLs)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_this_claim_being</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this Claim being initiated as a result of a work-related injury?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_and_Sign_Screen</name>
        <label>Complete and Sign Screen</label>
        <locationX>1617</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_and_Sign_Screen_0</targetReference>
        </connector>
        <fields>
            <name>jh007</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompleteAndSignStage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>complete_and_sign_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before submitting your claim initiation request, please review the information you provided below.  If you need to make any changes, navigate to the appropriate screen by using the &quot;Previous&quot; button.  When finished, click &quot;Next&quot; to sign and submit your request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>gs1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(15, 150, 218);&quot;&gt;Getting Started&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a11</name>
            <fieldText>&lt;p&gt;&amp;lt;TBD&amp;gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>II1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(15, 150, 218);&quot;&gt;Insured Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a12</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;TBD&amp;gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ci1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 150, 218); font-size: 14px;&quot;&gt;Claim Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a13</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;TBD&amp;gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mcp1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(15, 150, 218);&quot;&gt;Medical and Care Providers&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a14</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;TBD&amp;gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>w91</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(15, 150, 218); font-size: 14px;&quot;&gt;W-9 Information&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a15</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;TBD&amp;gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ap1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(15, 150, 218);&quot;&gt;Authorized Persons&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>a16</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;TBD&amp;gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Complete_and_Sign_Screen_0</name>
        <label>Complete and Sign Screen</label>
        <locationX>1744</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>jh007_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompleteAndSignStage_0</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ffg</name>
            <extensionName>c:integrationPopUp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Getting_Started_Screen</name>
        <label>Getting Started Screen</label>
        <locationX>276</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Insured_Information</targetReference>
        </connector>
        <fields>
            <name>jh001</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Claim1_Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>IntroBlurb</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To complete this request, you will need to provide information about your care provider(s) such as the address and telephone numbers.&amp;nbsp;It may take up to &lt;b&gt;30 minutes&lt;/b&gt; to complete this request.&amp;nbsp;If you cannot finish the request at this time, the information you enter will be saved as you navigate through the pages.&amp;nbsp;You will have up to &lt;b&gt;45 days&lt;/b&gt; to return to this site and complete this request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is important to note that we may need to contact your care provider(s) to request your medical records to help us determine your benefit eligibility.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_the_insured</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you the insured?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_the_insured_s_current_status</name>
            <choiceReferences>c01</choiceReferences>
            <choiceReferences>c02</choiceReferences>
            <choiceReferences>c03</choiceReferences>
            <choiceReferences>c04</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the insured&#39;s current status?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Why_did_you_decide_to_initiate_a_Claim_at_this_time_Check_all_that_apply</name>
            <choiceReferences>c05</choiceReferences>
            <choiceReferences>c06</choiceReferences>
            <choiceReferences>c07</choiceReferences>
            <choiceReferences>c08</choiceReferences>
            <choiceReferences>c09</choiceReferences>
            <choiceReferences>c10</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why did you decide to initiate a Claim at this time? Check all that apply:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Insured_Information_Screen</name>
        <label>Insured Information Screen</label>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Claim_Information</targetReference>
        </connector>
        <fields>
            <name>jh002</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsuredInfoStage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VerifyBlurb</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify the following information about &lt;b&gt;the insured&lt;/b&gt; on this Policy.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Phil</stringValue>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sherman</stringValue>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <dateValue>1950-08-15</dateValue>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>psherman@msn.com</stringValue>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>214-776-2323</stringValue>
            </defaultValue>
            <fieldText>Home Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>650-213-2345</stringValue>
            </defaultValue>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Which_phone_number_is_best_for_contacting_the_insured</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>650-213-2345</stringValue>
            </defaultValue>
            <fieldText>Which phone number is best for contacting the insured?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailin</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>42 Wallaby Way</stringValue>
            </defaultValue>
            <fieldText>Mailing Street Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_City_or_Town</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sydney</stringValue>
            </defaultValue>
            <fieldText>Mailing City or Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MailingCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>33587</stringValue>
            </defaultValue>
            <fieldText>Mailing Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Country1</name>
            <choiceReferences>US_Choice</choiceReferences>
            <choiceReferences>c01</choiceReferences>
            <choiceReferences>c02</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>US_Choice</defaultSelectedChoiceReference>
            <fieldText>Mailing Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medical_and_Care_Providers_Screen_0</name>
        <label>Medical and Care Providers Screen</label>
        <locationX>856</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_W_9_Information</targetReference>
        </connector>
        <fields>
            <name>jh004_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProvidersStage_0</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CareProvidersScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In the next few screens you’ll be asked to provide information about any medical and/or care providers recently used by the insured.&amp;nbsp;For faster processing, please ensure the information is accurate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Has_the_insured_visited_any_physicians_in_the_past_6_months_except_podiatrists_d</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the insured visited any physicians in the past 6 months (except podiatrists, dentists, or optometrists)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>W_9_Information_Screen</name>
        <label>W-9 Information Screen</label>
        <locationX>1089</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage_Authorized_Persons</targetReference>
        </connector>
        <fields>
            <name>jh005</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://site-dream-6554-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM210000000cT8&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>W9Stage</name>
            <extensionName>c:flowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>w9rt</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following information will be used to complete the W-9 Form, which is needed by John Hancock for tax reporting purposes.  &lt;b&gt;Please complete all the required fields denoted by a red asterisk&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insured_s_First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Phil</stringValue>
            </defaultValue>
            <fieldText>Insured&#39;s First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Insured_s_Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sherman</stringValue>
            </defaultValue>
            <fieldText>Insured&#39;s Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Federal_Tax_Classification</name>
            <choiceReferences>Choice_Individual</choiceReferences>
            <choiceReferences>c03</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Federal Tax Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Authorized_Persons</name>
        <isActive>true</isActive>
        <label>Authorized Persons</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Claim_Information</name>
        <isActive>true</isActive>
        <label>Claim Information</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Complete_and_Sign</name>
        <isActive>true</isActive>
        <label>Complete and Sign</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Getting_Started</name>
        <isActive>true</isActive>
        <label>Getting Started</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Insured_Information</name>
        <isActive>true</isActive>
        <label>Insured Information</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Medical_and_Care_Providers</name>
        <isActive>true</isActive>
        <label>Care Providers</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>W_9_Information</name>
        <isActive>true</isActive>
        <label>W-9 Information</label>
        <stageOrder>40</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Getting_Started_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
